<?xml version="1.0"?>

<model>
  <name>Eight Board</name>
  <version>1.0</version>
  <sdf version='1.6'>eightbyeight419.sdf</sdf>

  <author>
    <name>Al Colon</name>
    <email>alexaleighcolon@gmail.com</email>
  </author>

  <description>
    A gameboard with 8 tiles across and down. The whole structure is 2m across
  </description>
</model>
