<launch>
  <!-- No namespace here as we will share this description. 
       Access with slash at the beginning -->
    <param name="robot_description" command="$(find xacro)/xacro --inorder $(find prrexamples)/urdf/turtlebot3_$(arg model).urdf.xacro" />
    
  <!-- BEGIN ROBOT 1-->
  <group ns="usr">
    <param name="tf_prefix" value="usr_tf" />
    <include file="$(find aldopkg)/UntouchableHopscotch/launch/one_robot.launch" >
      <arg name="model" default="waffle" doc="model type [burger, waffle, waffle_pi]"/>
      <arg name="init_pose" value="-x 1 -y 1 -z 0" />
      <arg name="robot_name"  value="Robot1" />
    </include>
  </group>

  <!-- BEGIN ROBOT 2-->
  <group ns="cpu">
    <param name="tf_prefix" value="cpu_tf" />
    <include file="$(find aldopkg)/UntouchableHopscotch/launch/one_robot.launch" >
      <arg name="model" default="waffle" doc="model type [burger, waffle, waffle_pi]"/>
      <arg name="init_pose" value="-x -2 -y 1 -z 0" />
      <arg name="robot_name" value="Robot2" />
    </include>
  </group>
</launch>