<launch>
  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
    <arg name="model" default="waffle" doc="model type [burger, waffle, waffle_pi]"/>
    <arg name="x_pos" default="-4.25"/>
    <arg name="y_pos" default="-15.0"/>
    <arg name="z_pos" default="0.0"/>
    <arg name="mode" default="day" doc="mode of the track to load, valid options are 'day' or 'night'"/>

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$ find untouchablehopscotch)/UntouchableHopscotch/worlds/eight.world"/> <!-- Note: the world_name is with respect to GAZEBO_RESOURCE_PATH environmental variable -->
        <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="true"/>
        <arg name="recording" value="false"/>
        <arg name="debug" value="false"/>
    </include>

<!-- start gui -->
    <node name="something" pkg="gazebo" type="gui" respawn="false" output="screen"/> 

  <!-- include our robots -->
    <include file="$(find aldopkg)/UntouchableHopscotch/launch/robots.launch"/>

</launch>